<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ERP_Projesi_V2._0.Properties.Settings.KKP_V2ConnectionString"
            connectionString="Data Source=DESKTOP-HSH38D0\SQLEXPRESS;Initial Catalog=KKP_V2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>